In [2]:
import pandas as pd
import os, sys

In [3]:
# korSTS
korsts = pd.read_csv('/opt/ml/KorNLUDatasets/KorSTS/sts-train.csv')

In [52]:
len(korsts)

5749

In [99]:
korsts.tail(15)

,genre,filename,year,id,score,sentence1,sentence2
5734,main-news,headlines,2016,1400.0,0.0,러시아의 중요한 파트너인 이란 : 노박,이란은 시리아 이라크에 대한 지지를 되풀이한다
5735,main-news,headlines,2016,1403.0,0.0,대만의 대통령은 이 대통령에게 경의를 표하기 위해 비행기를 전세 내린다.,폴란드 대통령이 도전자에게 패하다.
5736,main-news\theadlines\t2016\t1404\t0\t케리 방문을 앞두...,NaN,NaN,NaN,NaN,NaN,NaN
5737,main-news,headlines,2016,1408.0,0.0,고객에게 비용을 지불한 혐의로 기소된 토마스 쿡,부상당한 참전용사들에게 침을 뱉은 혐의로 기소된 플로리다 대학
5738,main-news,headlines,2016,1412.0,0.0,나렌드라 모디 '사진 촬영' 천나이 홍수 방문 이미지가 유행한다.,나렌드라 모디는 차별과 평등에 대해 말한다.
5739,main-news,headlines,2016,1417.0,1.0,기니에서의 평화적인 대통령 선거를 환영하는 유엔 사무총장,말리 평화유지군에 대한 공격을 비난하는 유엔 사무총장
5740,main-news\theadlines\t2016\t1422\t0\t파키스탄 사형 집...,NaN,NaN,NaN,NaN,NaN,NaN
5741,main-news,headlines,2016,1441.0,0.0,버스가 강에 추락한 후 케냐에서 살해된 두 명의 호주인,독일 열차 사고로 사망한 두 명과 퍼마링크
5742,main-news\theadlines\t2016\t1443\t2\t프랑스는 이슬람 ...,NaN,NaN,NaN,NaN,NaN,NaN
5743,main-news,headlines,2016,1447.0,2.0,보도에 따르면 러시아 비행기가 이집트에서 추락했다고 한다.,영국에 있는 비행기 추락사고로 조종사 사망
5744,main-news,headlines,2016,1456.0,0.0,폭풍우 클로다흐가 영국을 강타하면서 심한 강풍,메르켈은 나토와 라트비아의 연대를 약속한다.
5745,main-news,headlines,2016,1465.0,0.0,리비아 테러리스트들이 공습에 대한 복수로 찍은 수십 명의 이집트 인질들,나일강에서 더 많은 시체가 발견되면서 이집트 보트 충돌 사고 사망자 수가 증가한다.
5746,main-news,headlines,2016,1466.0,0.0,바레인으로 향하는 대통령,시 주석 : 에볼라 퇴치를 계속 돕기 위한 중국
5747,"main-news\theadlines\t2016\t1470\t0\t중국, 인도는 양...",NaN,NaN,NaN,NaN,NaN,NaN
5748,main-news,headlines,2016,1492.0,0.0,푸틴 대변인 : 도핑 혐의는 근거 없는 것으로 보인다.,가장 최근의 심한 날씨 : 토네이도 후 텍사스에서 1명 사망

In [102]:
korsts[pd.isna(korsts.sentence1)]

,genre,filename,year,id,score,sentence1,sentence2
740,main-captions\tMSRvid\t2012train\t0351\t3.500\...,NaN,NaN,NaN,NaN,NaN,NaN
872,main-captions\tMSRvid\t2012train\t0554\t2.750\...,NaN,NaN,NaN,NaN,NaN,NaN
1034,main-captions\timages\t2014\t0050\t0\t빈 유리 코크스...,NaN,NaN,NaN,NaN,NaN,NaN
1106,main-captions\timages\t2014\t0147\t3.2\t승리 라이너...,NaN,NaN,NaN,NaN,NaN,NaN
1159,main-captions\timages\t2014\t0230\t5\t레드 더블 데커...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
5732,"main-news\theadlines\t2016\t1352\t1\t영국 지도자, 시...",NaN,NaN,NaN,NaN,NaN,NaN
5736,main-news\theadlines\t2016\t1404\t0\t케리 방문을 앞두...,NaN,NaN,NaN,NaN,NaN,NaN
5740,main-news\theadlines\t2016\t1422\t0\t파키스탄 사형 집...,NaN,NaN,NaN,NaN,NaN,NaN
5742,main-news\theadlines\t2016\t1443\t2\t프랑스는 이슬람 ...,NaN,NaN,NaN,NaN,NaN,NaN
5747,"main-news\theadlines\t2016\t1470\t0\t중국, 인도는 양...",NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
path = '/opt/ml/KorNLUDatasets/KorSTS/sts-train.tsv'
kosrsts_train = read_tsv_custom(path).rename(columns={'sentence1':'sent_a', 'sentence2':'sent_b', 'score': 'labels'})

passed 0 values
total : 5749

In [183]:
kosrsts_train.to_csv(os.path.join(base_path, 'korSTS_train.csv'))

In [154]:
# 에러 무시하는 경우
#korsts_test = pd.read_table('/opt/ml/KorNLUDatasets/KorSTS/sts-dev.tsv',error_bad_lines=False)
# len(korsts_test)

In [83]:
def read_tsv_custom(path='/opt/ml/KorNLUDatasets/KorSTS/sts-dev.tsv'):
    column_names = {"genre":0, "filename":1, "year":2, "id":3, "score":4, "sentence1":5, "sentence2":6}
    lines = {v:[] for k,v in column_names.items()}
    check_idx = []
    with open(path, 'r') as f:
        for idx, line in enumerate(f):
            if idx != 0:
                line_val = line.rstrip().split('\t')
                if len(line_val) != 7:
                    check_idx.append(idx)
                else:
                    for idx, val in enumerate(line_val):
                        lines[idx].append(val)
    new_df = pd.DataFrame(lines)
    new_df = new_df.rename(columns={v:k for k,v in column_names.items()})
    print(f'passed {len(check_idx)} values')
    print(f'total : {len(new_df)}') 
    return new_df

In [179]:
korsts_dev = read_tsv_custom(path='/opt/ml/KorNLUDatasets/KorSTS/sts-dev.tsv')

passed 0 values
total : 1500

In [180]:
korsts_dev = korsts_dev.rename(columns={'sentence1':'sent_a', 'sentence2':'sent_b', 'score': 'labels'})
korsts_dev

,genre,filename,year,id,labels,sent_a,sent_b
0,main-captions,MSRvid,2012test,0000,5.000,안전모를 가진 한 남자가 춤을 추고 있다.,안전모를 쓴 한 남자가 춤을 추고 있다.
1,main-captions,MSRvid,2012test,0002,4.750,어린아이가 말을 타고 있다.,아이가 말을 타고 있다.
2,main-captions,MSRvid,2012test,0003,5.000,한 남자가 뱀에게 쥐를 먹이고 있다.,남자가 뱀에게 쥐를 먹이고 있다.
3,main-captions,MSRvid,2012test,0007,2.400,한 여성이 기타를 연주하고 있다.,한 남자가 기타를 치고 있다.
4,main-captions,MSRvid,2012test,0008,2.750,한 여성이 플루트를 연주하고 있다.,남자가 플루트를 연주하고 있다.
...,...,...,...,...,...,...,...
1495,main-news,headlines,2016,1283,2,과학자들은 화성에 물이 있다는 것을 증명한다,나사가 화성에서 물을 발견했습니까?
1496,main-news,headlines,2016,1434,0,프라나브는 국가별 평화를 위해 노력해야 한다고 강조한다.,"세계보건기구 : 인도, 선진국들의 행동을 후회하다"
1497,main-news,headlines,2016,1440,2,오염 스캔들로 인해 폭스바겐이 붉은색으로 미끄러졌다.,폭스바겐의 디젤 소유주들에 대한 호의의 제스처
1498,main-news,headlines,2016,1477,0,오바마가 옳다: 아프리카는 더 나은 리더십을 가질 자격이 있다,중기에 법무장관을 지명하기를 기다리는 오바마
1499,main-news,headlines,2016,1495,0,새로운 비디오는 우리에게 경찰관들이 정신적으로 아픈 사람을 때리는 것을 보여준다,도끼 공격으로 중상을 입은 뉴욕 경찰관

In [181]:
korsts_dev.to_csv(os.path.join(base_path, 'korSTS_valid.csv'))

In [85]:
## paraKQC

In [184]:
para = pd.read_csv('/opt/ml/projects/final-project-level3-nlp-03/data/train/para_kqc_sim_data_tunned.txt',
                 sep='\t',
                 header=None).rename(columns={0:'sent_a', 1:'sent_b', 2: 'labels'})

In [187]:
# para.head(30)

In [200]:
same_label = para[para.labels==1]
diff_label = para[para.labels==0]
print(len(same_label), len(diff_label))

8991 9973

In [201]:
same_len = int(len(same_label)*0.8)
diff_len = int(len(diff_label)*0.8)

In [202]:
train_para = pd.concat([same_label.iloc[:same_len], diff_label.iloc[:diff_len]])
valid_para = pd.concat([same_label.iloc[same_len:], diff_label.iloc[diff_len:]])

In [203]:
train_para = train_para.sample(frac=1).reset_index(drop=True)
valid_para = valid_para.sample(frac=1).reset_index(drop=True)

In [204]:
# train_para = para.iloc[:15160]
train_para.to_csv(os.path.join(base_path,'paraKQC_train.csv'))

In [205]:
# train_para = para.iloc[15160:]
valid_para.to_csv(os.path.join(base_path,'paraKQC_valid.csv'))

In [206]:
valid_para

,sent_a,sent_b,labels
0,주말에 약속 잡을 거면 오전 말고 오후에 잡아.,회사 출장을 잊지말고 고려해서 약속을 잡아라.,0
1,진에어에서 온 광고 메일 말고 결제메일은 꼭 저장해놔.,진에어에서 온 결제메일은 삭제하지 않고 저장하는게 좋아.,1
2,급한 연락은 메일보다 전화로 합시다.,회사 출장을 잊지말고 고려해서 약속을 잡아라.,0
3,비 올 때 빨래하면 그냥 두지 말고 건조기를 쓰자.,비 올 때 빨래하는 경우 그대로 두지 말고 건조기를 사용할 것을 권합니다.,1
4,공부할때말고 잘때는 클래식 곡 듣는게 어때?,믹서기 말고 가스레인지를 써보는 건 어때?,0
...,...,...,...
3789,주말에 약속 잡을 거면 오전 말고 오후에 잡아.,저녁이니까 바쁘게 여러 약속을 하지 말고 하나만 잡아.,0
3790,대문말고 현관문 잠금장치 점검해야 되니까 업체 불러.,내일 반포 고수부지 자외선 지수 알려줘.,0
3791,리눅스 말고 윈도우를 설치하여 메일을 관리해주세요,윈도우를 설치하지 않으면 메일 관리가 어려울 수 있으니 꼭 윈도우를 설치하세요.,1
3792,가습기가 아니라 제습기를 사야지,집안 환기는 점심 말고 아침에 꼭 하자,0
3793,눈 올 때 쉬지말고 집 앞은 치우자.,아침엔 차가운 물말고 더운 물로 샤워하자.,0

In [170]:
para.iloc[15161]

sent_a        교수님께 메일을 보낼 땐 서명을 넣지 마세요.
sent_b    수강하는 학생이 보낸 메일은 지우지 않도록 해주세요.
labels                                0
Name: 15161, dtype: object

In [159]:
para.to_csv(os.path.join(base_path, 'paraKQC_all.csv'))

In [160]:
korsentence = pd.read_csv('/opt/ml/projects/final-project-level3-nlp-03/data/train/kor-sentence.csv')

In [161]:
korsentence.to_csv(os.path.join(base_path, 'kor-sentence-train.csv'))

In [126]:
korsentence.head(10)

   Unnamed: 0                  sent_a                          sent_b  labels
0           0  우표의 가장자리는 왜 울퉁불퉁 하나요??                  우표는 왜 네모모양일까요?       0
1           1  MSG(화학 조미료)는 무엇으로 만들죠?  김치볶음밥을 만들때 조미료는 뭐가들어가야 하나요..??       0
2           2                 일본버스요!!                         일본 버스이용       1
3           3            젠스타일이 무엇인가요?                 레트로 스타일이 무엇인가요?       0
4           4                     잡곡밥                          쿠쿠 잡곡밥       0
5           5          강아지가 사람을 핥는 이유                    강아지가 몸을 핥는이유       1
6           6    옷에 얼룩을 지우는 방법점 알려주세요     옷이나 등등 얼룩 깨끗하게 없애는 방법 없을까여?       1
7           7             풀은 뭐로 만드나요?                     풀은 월로 만드나요?       1
8           8             초밥의 유래 간단하게                         생선초밥의유래       1
9           9      목욕탕에 ♨그림은 언제 생겼을까?              목욕탕은 언제 부터 있었던 거죠?       0

In [207]:
gen_data = pd.read_csv('/opt/ml/projects/final-project-level3-nlp-03/data_collection/gen_data_test_4.csv')

In [208]:
base_path = '/opt/ml/projects/tunning_data'
import os, sys

In [209]:
gen_data.drop(columns='Unnamed: 0').to_csv(os.path.join(base_path, 'gen_all.csv'))

In [210]:
# gen_data[:int(len(gen_data)*0.8)].tail(20)
train_gen = gen_data.iloc[:14390]
test_gen = gen_data.iloc[14390:]
train_gen.to_csv(os.path.join(base_path, 'gen_v1_train.csv'))
test_gen.to_csv(os.path.join(base_path, 'gen_v1_valid.csv'))

In [132]:
from datasets import load_dataset

In [139]:
dataset = load_dataset("klue", "sts")

Downloading and preparing dataset klue/sts (download: 1.29 MiB, generated: 2.82 MiB, post-processed: Unknown size, total: 4.11 MiB) to /opt/ml/.cache/huggingface/datasets/klue/sts/1.0.0/e0fc3bc3de3eb03be2c92d72fd04a60ecc71903f821619cb28ca0e1e29e4233e...

Downloading data:   0%|          | 0.00/1.35M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/11668 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/519 [00:00<?, ? examples/s]

Dataset klue downloaded and prepared to /opt/ml/.cache/huggingface/datasets/klue/sts/1.0.0/e0fc3bc3de3eb03be2c92d72fd04a60ecc71903f821619cb28ca0e1e29e4233e. Subsequent calls will reuse this data.

  0%|          | 0/2 [00:00<?, ?it/s]

In [144]:
dataset['train']

Dataset({
    features: ['guid', 'source', 'sentence1', 'sentence2', 'labels'],
    num_rows: 11668
})

In [145]:
dataset['train'].features

{'guid': Value(dtype='string', id=None),
 'source': Value(dtype='string', id=None),
 'sentence1': Value(dtype='string', id=None),
 'sentence2': Value(dtype='string', id=None),
 'labels': {'label': Value(dtype='float64', id=None),
  'real-label': Value(dtype='float64', id=None),
  'binary-label': ClassLabel(num_classes=2, names=['negative', 'positive'], id=None)}}